_build/
input/ytb1.dvk
input/rdgn.dvk
output*
wcec-dvk.opam
xml/
input/rdgn.cfg
input/rdgn.dvk
paper/rapport.pdf
paper/rapport.aux
paper/rapport.bbl
paper/rapport.blg
paper/rapport.fdb_latexmk
paper/rapport.fls
paper/rapport.log
paper/rapport.out
paper/rapport.synctex.gz
input/rdgn.dot
