_build/
input/ytb1.dvk
input/rdgn.dvk
output*
wcec-dvk.opam
xml/
input/rdgn*

paper/rapport/rapport.aux
paper/rapport/rapport.bbl
paper/rapport/rapport.blg
paper/rapport/rapport.fdb_latexmk
paper/rapport/rapport.fls
paper/rapport/rapport.log
paper/rapport/rapport.out
paper/rapport/rapport.pdf
paper/rapport/rapport.synctex.gz
paper/beamer/beamer.aux
paper/beamer/beamer.fdb_latexmk
paper/beamer/beamer.fls
paper/beamer/beamer.nav
paper/beamer/beamer.log
paper/beamer/beamer.out
paper/beamer/beamer.pdf
paper/beamer/beamer.snm
paper/beamer/beamer.synctex.*
paper/beamer/beamer.toc
paper/beamer/pics/*
truc.lp
.vscode/settings.json
input/hello.apk
tasklist
