_build/
input/*
input/*
output*
paper*
wcec-dvk.opam
xml/
input/rdgn*

paper/*
truc.lp
.vscode/settings.json
input/hello.apk
tasklist
input/model.txt
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
paper/rapport/rapport.tex
paper/rapport/rapport.tex
